@import "./_mixins.scss";
@import "./_gogo.style.scss";
@import "./_plugins.scss";

/** your custom css code **/
/*
html {
    background-color: $theme-color-1 !important;
}
*/

.sidebar .main-menu ul li a{
  text-align: center !important;
}

.logo-single {
  width: 110px;
  height: 90px;
  background: url('../../img/logo.png') no-repeat;
  background-position: center center;
  display: inline-block;
  margin-bottom: 60px;
}
.custom-switch{
  display: block !important;
  width: 58px !important;
  height: 27px !important;
  border: none;
}
.dashboard-search {
  background-size: cover;
}